body {
    font-family: "Trebuchet MS", serif;
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #00c8ff;
    font-weight: bold;
}

a {
   text-decoration: none;
    color: #00c8ff;
    font-weight: bold; 
}

h1 {
    font-size: 2em;
}

p, li, dd {
    font-size: 1.1em;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
